<div class="ui page grid segment">

  <div class="four wide column"></div>
  
  <div class="eight wide column">
    <div class="ui fluid form segment <%= flash[:alert].present? ? 'error' : '' %>">
      <h3 class="ui header">Login</h3>
      
      <%= form_for(resource, :as => resource_name, :url => new_session_path(resource_name)) do |f| %>
    
        <div class="ui error message">
          <div class="header">We noticed some issues</div>
          <%= flash[:alert] %>
        </div>
        
        <div class="field">
          <%= f.label :email %>
          <div class="ui left labeled icon input">
            <%= f.email_field :email, placeholder: "email@something.com" %>
            <i class="user icon"></i>
            <div class="ui corner label">
              <i class="icon asterisk"></i>
            </div>
          </div>
        </div>
        
        <div class="field">
          <%= f.label :password %>
          <div class="ui left labeled icon input">
            <%= f.password_field :password %>
            <i class="lock icon"></i>
            <div class="ui corner label">
              <i class="icon asterisk"></i>
            </div>
          </div>
        </div>
        
        <%= f.submit "Login", class: "ui blue submit button" %>
      
      <% end %>
    </div> <!-- /form -->
    
  </div><!-- /column -->
    
  <div class="four wide column"></div>
 
</div>