<div class="inverted secondary pointing ui menu">
  
  <div class="header item">
    <%= link_to "Gringotts 2FA Demo", root_path %>
  </div>
  
  <div class="right menu">
    
    <% if user_signed_in? %>

      <%= link_to edit_user_registration_path, class: "item" do %>
        <i class="icon"></i>
        My Account
      <% end %>

      <%= link_to destroy_user_session_path, :method=>'delete', class: "item" do %>
        <i class="icon"></i>
        Logout
      <% end %>

    <% else %>

      <%= link_to new_user_registration_path, class: "item" do %>
        <i class="icon"></i>      
        Sign up
      <% end %>

      <%= link_to new_user_session_path, class: "item" do %>
        <i class="icon"></i>
        Login
      <% end %>
    
    <% end %>

  </div>
</div>
